



.custom-block.tip,
.custom-block.info,
.custom-block.warning,
.custom-block.danger {
  margin: 1rem 0;
  border-left: 0.5rem solid;
  border-radius: 0.3rem;
  padding: 0.1rem 1.5rem;
  overflow-x: auto;
}

.custom-block-title {
  margin-bottom: -0.3rem;
  font-weight: 600;
}

.custom-block.tip {
  background-color: #e9e9e980;
  border-color: var(--c-brand);
}

.custom-block.info {
  border-color: #06ce49;
  background-color: #06ce4920;
  .custom-block-title {
    color: #06ce49;
  }
}

.custom-block.warning {
  border-color: #e7c000;
  background-color: #e7c00020;
  .custom-block-title {
    color: #b29400;
  }
}

.custom-block.danger {
  border-color: #c00;
  background-color: #cc000020;
  .custom-block-title {
    color: #900;
  }
}

.custom-block.details {
  position: relative;
  display: block;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: #eee;
  h4 {
    margin-top: 0;
  }
  figure:last-child, p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  summary {
    outline: none;
    cursor: pointer;
  }
}

.dark {
  .custom-block.tip {
    background-color: #373b4480;
    border-color: var(--c-brand);
  } 
}