:root{
  // 重写主题色

  // 主色
  --vp-c-brand: var(--vp-c-blue);
  --vp-c-brand-light: var(--vp-c-blue-light);
  --vp-c-brand-lighter: var(--vp-c-blue-lighter);
  --vp-c-brand-dark: var(--vp-c-blue-dark);
  --vp-c-brand-darker: var(--vp-c-blue-darker);

  // 副色
  --vp-c-second: var(--vp-c-pink);
  --vp-c-second-light: var(--vp-c-pink-light);
  --vp-c-second-lighter: var(--vp-c-pink-lighter);
  --vp-c-second-dark: var(--vp-c-pink-dark);
  --vp-c-second-darker: var(--vp-c-pink-darker); 
}