$--code-top-bg: #e6ebf1;
$--code-top-color: #90a4ae;
$--code-light-color: #90a4ae;
$--code-light-bg: #f6f8fa;

/* light theme */
div[class*='language-'] {
  &.light{
    margin: 0 0 24px;
    margin-bottom: 24px;
    border-radius: 7px;
    box-shadow: 0 5px 10px 0 rgba(144,164,174,.4);
    -webkit-box-shadow: 0 5px 10px 0 rgba(144,164,174,.4);
    -webkit-transform: translateZ(0);
    &::before {
      position: initial;
      display: block;
      color: $--code-top-color;
      background: $--code-top-bg;
      height: 25px;
      line-height: 25px;
      font-weight: bold;
      text-align: center;
    }
    &::after {
      position: absolute;
      top: 7px;
      left: 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fc625d;
      -webkit-box-shadow: 20px 0 #fdbc40,40px 0 #35cd4b;
      box-shadow: 20px 0 #fdbc40,40px 0 #35cd4b;
      content: ' ';
    }
    pre{
      background-color: $--code-light-bg !important;
      margin-bottom: 0;
      code {
        color: #d55d5d;
      } 
    }
  }
}