/* p.description {
  font-size: 1.4rem !important;
} */

:root {
  --gap-horizontal: 10px;
  --gap-vertical: 10px;
  --time-anim: 4s;
  --delay-anim: 1s;
  --blend-mode-1: none;
  --blend-color-1: transparent;
}
.home {
  /* background: url("../imgs/homebg.jpg") no-repeat 50% 50%/cover; */
  /* background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2018-12-15%2F5c14b251e831a.jpg%3Fdown&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1644329038&t=8bd7fc67844966db6150373c19e17a29'); */

  /* -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); */
  /* background: linear-gradient(90deg,
  rgba(247,149,51,.1),
  rgba(243,112,85,.1) 15%,
  rgba(239,78,123,.1) 30%,
  rgba(161,102,171,.1) 44%,
  rgba(80,115,184,.1) 58%,
  rgba(16,152,173,.1) 72%,
  rgba(7,179,155,.1) 86%,
  rgba(109,186,130,.1)); */
}
.home-hero {
  background-image: linear-gradient(
      90deg,
      rgba(159, 219, 252, 0.15) 3%,
      transparent 0
    ),
    linear-gradient(1turn, rgba(159, 219, 252, 0.15) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
}
.home-hero img.image {
  position: relative;
}
.home-hero .figure::after {
  content: ' ';
  height: 100%;
  width: 98%;
  top: 0;
  left: 0;
  position: absolute;
}
.home-hero .figure::after {
  /* background: url("../imgs/homebg.jpg") no-repeat 50% 50%/cover; */
  /* background-color: var(--blend-color-1); */
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 20%, rgba(
            0,
            0,
            0,
            0
          )
          80%, rgba(0, 0, 0, 0.1) 100%),
    url('../imgs/homebg.jpg');
  background-blend-mode: var(--blend-mode-1);
  animation-duration: var(--time-anim);
  animation-delay: var(--delay-anim);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: glitch-anim-1;
}
@keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    transform: translate3d(var(--gap-horizontal), 0, 0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  6% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(var(--gap-horizontal), 0, 0);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

#main-title {
  /* color: var(--c-brand); */
  background: var(--linear-title);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  /* letter-spacing: 0.2rem; */
  margin-bottom: 10px;
}

#main-title .release-tag {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
  margin-left: 6px;
  background: var(--c-brand);
  color: #fff;
  border-radius: 10px;
}

/* Punk Button Start 
.home-hero a.item,
.home-hero a.item::after{
  border-radius: 3px !important;
  border: none !important;
  background-color: #ffffff00 !important;
  font-family: 'Do Hyeon', sans-serif;
  width: 260px;
  height: 66px;
  text-align: center;
  font-size: 25px;
  line-height: 66px;
  color: rgb(255, 251, 251);
  background: linear-gradient(30deg,transparent 15%,rgb(0, 204, 255) 10% 85%,  rgb(0, 255, 149) 85%);
  box-shadow: 5px 0 0 rgb(233, 53, 164);
  cursor: pointer;
  position: relative;
}
.home-hero a.item::after{
  content: 'Vuetom Love You';
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: -5px -2px 0 rgb(0, 183, 255),
  5px 2px 0 rgb(0, 255, 115) ;
  visibility: hidden;
} 
.home-hero a.item:hover::after{
  animation: san 1s ; 
  animation-timing-function: steps(1, end);
}
@keyframes san{
  0%{
    clip-path: inset(20% -5px  60%  0);
    transform: translate(-6px,5px);
    visibility: visible;
  }
  10%{
    clip-path: inset(50% -5px  30%  0);
    transform: translate(6px,-5px);
  }
  20%{
    clip-path: inset(20% -5px  60%  0);
    transform: translate(5px,0px);

  }
  30%{
    clip-path: inset(80% -5px  5%  0);
    transform: translate(-8px,5px);
  }
  40%{
    clip-path: inset(0 -5px  80%  0);
    transform: translate(-4px,-3px);

  }
  50%{
    clip-path: inset(50% -5px  30%  0);
    transform: translate(-6px,-5px);
  }
  60%{
    clip-path: inset(80% -5px  5%  0);
    transform: translate(-7px,5px);

  }
  70%{
    clip-path: inset(0 -5px  80%  0);
    transform: translate(3px,6px);
  }
  80%{
    clip-path: inset(50% -5px  30%  0);
    transform: translate(5px,5px);

  }
  90%{
    clip-path: inset(20% -5px  60%  0);
    transform: translate(6px,-5px);

  }
  100%{
    clip-path: inset(0 -5px  80%  0);
    transform: translate(1px,5px);

  }
}
*/
/* Punk Button End */

/* Button Start */

/* Button End */

/* Features Start */
@-webkit-keyframes hfhover-zoom {
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-filter: brightness(80%);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: brightness(100%);
  }
}
.home-features:hover,
.home-features:focus {
  box-shadow: 3px 3px 10px rgb(20, 20, 20, 0.5);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}
.home-features {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  .feature :hover {
    -webkit-animation-name: hfhover-zoom;
    animation-name: hfhover-zoom;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    color: var(--c-sub-brand-light);
  }
}
.home-features {
  border-radius: 15px;
  position: relative;
  backdrop-filter: saturate(180%) blur(5px);
  background: linear-gradient(to right, #06cdff30, rgba(223, 7, 107, 0.3));
}
.home-features p.details,
.home-hero p.tagline {
  color: var(--c-sub-brand);
}
.home-features .container h2 {
  line-height: 56px;
  padding-bottom: 0;
}
.home-features .container h2:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 12px;
  width: 26px;
  height: 26px;
  background-image: url('../imgs/vuetom-logo-s.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.home-features .container h2:after {
  display: none;
}
/* Features End */
