/** Base Styles */
:root {
  /**
   * Colors
   * --------------------------------------------------------------------- */

  --c-white: #ffffff;
  --c-white-dark: #f8f8f8;
  --c-black: #000000;

  --c-divider-light: rgba(60, 60, 67, 0.12);
  --c-divider-dark: rgba(84, 84, 88, 0.48);

  --c-text-light-1: #2c3e50;
  --c-text-light-2: #476582;
  --c-text-light-3: #90a4b7;

  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f9f9f9;
  --vt-c-white-mute: #f1f1f1;

  --vt-c-black: #1a1a1a;
  --vt-c-black-pure: #000000;
  --vt-c-black-soft: #242424;
  --vt-c-black-mute: #2f2f2f;

  --vt-c-indigo: #213547;
  --vt-c-indigo-soft: #476582;
  --vt-c-indigo-light: #aac8e4;

  --vt-c-gray: #8e8e8e;
  --vt-c-gray-light-1: #aeaeae;
  --vt-c-gray-light-2: #c7c7c7;
  --vt-c-gray-light-3: #d1d1d1;
  --vt-c-gray-light-4: #e5e5e5;
  --vt-c-gray-light-5: #f2f2f2;
  --vt-c-gray-dark-1: #636363;
  --vt-c-gray-dark-2: #484848;
  --vt-c-gray-dark-3: #3a3a3a;
  --vt-c-gray-dark-4: #282828;
  --vt-c-gray-dark-5: #202020;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.70);
  --vt-c-text-light-3: rgba(60, 60, 60, 0.33);
  --vt-c-text-light-4: rgba(60, 60, 60, 0.18);
  --vt-c-text-light-code: var(--vt-c-indigo-soft);

  --vt-c-text-dark-1: rgba(255, 255, 255, 0.87);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.60);
  --vt-c-text-dark-3: rgba(235, 235, 235, 0.38);
  --vt-c-text-dark-4: rgba(235, 235, 235, 0.18);
  --vt-c-text-dark-code: var(--vt-c-indigo-light);

  --vt-c-green: #42b883;
  --vt-c-green-light: #42d392;
  --vt-c-green-lighter: #35eb9a;
  --vt-c-green-dark: #33a06f;
  --vt-c-green-darker: #155f3e;

  /**
   * Typography
   * --------------------------------------------------------------------- */

  --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

  /**
   * Z Indexes
   *
   * Algolia SearchBox has a z-index of 200, so make sure not to go above
   * that value.
   * --------------------------------------------------------------------- */

  --z-index-navbar: 10;
  --z-index-sidebar: 6;

  /**
   * Shadows
   * --------------------------------------------------------------------- */

  --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);

  /**
   * Sizes
   * --------------------------------------------------------------------- */

  --header-height: 3.6rem;
}


:root {
  --vt-c-bg: var(--vt-c-white);
  --vt-c-bg-soft: var(--vt-c-white-soft);
  --vt-c-bg-mute: var(--vt-c-white-mute);

  --vt-c-divider: var(--vt-c-divider-light-1);
  --vt-c-divider-light: var(--vt-c-divider-light-2);

  --vt-c-divider-inverse: var(--vt-c-divider-dark-1);
  --vt-c-divider-inverse-light: var(--vt-c-divider-dark-2);

  --vt-c-text-1: var(--vt-c-text-light-1);
  --vt-c-text-2: var(--vt-c-text-light-2);
  --vt-c-text-3: var(--vt-c-text-light-3);
  --vt-c-text-4: var(--vt-c-text-light-4);
  --vt-c-text-code: var(--vt-c-text-light-code);

  --vt-c-text-inverse-1: var(--vt-c-text-dark-1);
  --vt-c-text-inverse-2: var(--vt-c-text-dark-2);
  --vt-c-text-inverse-3: var(--vt-c-text-dark-3);
  --vt-c-text-inverse-4: var(--vt-c-text-dark-4);

  --vt-c-brand: var(--vt-c-green);
  --vt-c-brand-light: var(--vt-c-green-light);
  --vt-c-brand-dark: var(--vt-c-green-dark);
  --vt-c-brand-highlight: var(--vt-c-brand-dark);
}

.dark {
  --vt-c-bg: var(--vt-c-black);
  --vt-c-bg-soft: var(--vt-c-black-soft);
  --vt-c-bg-mute: var(--vt-c-black-mute);

  --vt-c-divider: var(--vt-c-divider-dark-1);
  --vt-c-divider-light: var(--vt-c-divider-dark-2);

  --vt-c-divider-inverse: var(--vt-c-divider-light-1);
  --vt-c-divider-inverse-light: var(--vt-c-divider-light-2);

  --vt-c-text-1: var(--vt-c-text-dark-1);
  --vt-c-text-2: var(--vt-c-text-dark-2);
  --vt-c-text-3: var(--vt-c-text-dark-3);
  --vt-c-text-4: var(--vt-c-text-dark-4);
  --vt-c-text-code: var(--vt-c-text-dark-code);

  --vt-c-text-inverse-1: var(--vt-c-text-light-1);
  --vt-c-text-inverse-2: var(--vt-c-text-light-2);
  --vt-c-text-inverse-3: var(--vt-c-text-light-3);
  --vt-c-text-inverse-4: var(--vt-c-text-light-4);

  --vt-c-brand-highlight: var(--vt-c-brand-light);
}

:root {
  --c-brand: #1496ce;
  --c-brand-light: #19aeee;
  --color-border: #ad295c8a;
  --color-block: #2a7f8a;
  --color-strong: #c13e74;
  --color-code: #7ea1c5;
  --color-border-left: #1d8ab9;
  --color-code-bg: rgba(77,208,225,0.08);
  --color-block-bg: rgba(77,208,225,0.15);
  --linear-title: linear-gradient(to right, #32defd, rgb(247 69 152));
  --vt-shadow: 0 5px 6px -5px rgba(133,133,133,.6);
  --vt-code-shadow: 5px 5px 1px rgba(255, 255, 255, 0.4);
  --vt-code-shadow-h: 5px 5px 10px rgba(255, 255, 255, 0.4);
}

.dark {
  --c-brand: #18baff;
  --c-brand-light: #189bd3;
  --color-border: #ad295c8a;
  --color-block: #2a7f8a;
  --color-strong: #c13e74;
  --color-code: #7ea1c5;
  --color-border-left: #1d8ab9;
  --color-code-bg: rgba(77,208,225,0.08);
  --color-block-bg: rgba(77,208,225,0.15);
  --linear-title: linear-gradient(to right, #32defd, rgb(247 69 152));
  --vt-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.6);
  --vt-code-shadow: 5px 5px 1px rgba(0, 0, 0, 0.4);
  --vt-code-shadow-h: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

// breakpoints
$breakpoint-xxl: 1440px !default;
$breakpoint-xlg: 1280px !default;
$breakpoint-lg: 960px !default;
$breakpoint-md: 768px !default;
$breakpoint-sm: 480px !default;