/**
 * docs custom vars append to vitepress vars
 * -------------------------------------------------------------------------- */

:root {

  --vp-c-blue: #16a0db;
  --vp-c-blue-light: #25beff;
  --vp-c-blue-lighter: #5cceff;
  --vp-c-blue-dark: #198aba;
  --vp-c-blue-darker: #13678a;
  --vp-c-blue-dimm-1: rgba(66, 145, 184, 0.5);
  --vp-c-blue-dimm-2: rgba(66, 147, 184, 0.25);
  --vp-c-blue-dimm-3: rgba(66, 139, 184, 0.05);

  --vp-c-pink: #e44a8a;
  --vp-c-pink-light: #f962a1;
  --vp-c-pink-lighter: #ff91bf;
  --vp-c-pink-dark: #b31858;
  --vp-c-pink-darker: #720e37;
  --vp-c-pink-dimm-1: rgba(184, 66, 127, 0.5);
  --vp-c-pink-dimm-2: rgba(184, 66, 100, 0.25);
  --vp-c-pink-dimm-3: rgba(184, 66, 113, 0.05);
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {

  --vp-c-second: var(--vp-c-pink);
  --vp-c-second-light: var(--vp-c-pink-light);
  --vp-c-second-lighter: var(--vp-c-pink-lighter);
  --vp-c-second-dark: var(--vp-c-pink-dark);
  --vp-c-second-darker: var(--vp-c-pink-darker);  
}

.dark {
  --vp-c-bg: var(--vp-c-black-soft);

}

/**
 * Typography
 * -------------------------------------------------------------------------- */

/**
 * Shadows
 * -------------------------------------------------------------------------- */

/**
 * Z-indexes
 * -------------------------------------------------------------------------- */

/**
 * Icons
 * -------------------------------------------------------------------------- */

/**
 * Layouts
 * -------------------------------------------------------------------------- */

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

/**
 * Component: Nav
 * -------------------------------------------------------------------------- */

/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */

/**
 * Component: Home
 * -------------------------------------------------------------------------- */
